* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  padding-top: 100px;
}

.header {
  position: absolute;
  top: 0;
  background-color: #f2c078;
  height: 100px;
  width: 100%;
  z-index: 1;
}

.sign {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
}

.signText {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  font-size: 60px;
  text-align: center;
  color: #222;
  font-family: 'Pirata One', cursive;
  font-weight: 300;
  transform: rotate(2deg);
  letter-spacing: 3px;

  /*
  text-shadow: -1px -1px 0 #222, 2px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
  */
}

.skull1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}

.skull2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.left {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;

  background-color: #faedca;
}

.right {
  flex-basis: 90%;
  background-color: #faedca;
  height: 100vh;
  padding: 20px;
}

.init {
  margin: 20px auto;
  position: relative;
  width: 40%;
  min-width: 380px;
  max-width: 500px;
  transition: all 1s;
}

.shipImg {
  width: 100%;
  z-index: -2;
}

.tilt {
  -webkit-animation-name: tilt;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;

  animation-name: tilt;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes tilt {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

@keyframes tilt {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

img {
  width: 100%;
}

.pirate1 {
  position: absolute;
  bottom: 36%;
  left: 26%;
  width: 20%;
  z-index: 1;
}

.pirate1reduced {
  position: absolute;
  bottom: 20%;
  right: 36%;
  width: 20%;
}

.pirate2 {
  position: absolute;
  bottom: 36%;
  left: 45%;
  width: 22%;
  z-index: 1;
}

.pirate3 {
  position: absolute;
  bottom: 44%;
  left: 65%;
  width: 22%;
  z-index: 1;
}

.pirate2 {
  position: absolute;
  bottom: 36%;
  left: 45%;
  width: 22%;
  z-index: 1;
}

.pirate1reduced {
  position: absolute;
  bottom: 30%;
  left: 16%;
  width: 20%;

  -webkit-animation-name: reduce;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: reduce;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.pirate2reduced {
  position: absolute;
  bottom: 30%;
  left: 36%;
  width: 20%;
}

.pirate3reduced {
  position: absolute;
  bottom: 30%;
  left: 56%;
  width: 20%;

  animation-name: reduce;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes reduce {
  100% {
    left: 36%;
  }
}

@keyframes reduce {
  100% {
    left: 36%;
  }
}

.find {
  position: absolute;
  bottom: 14%;
  left: 65%;
  width: 30%;
  z-index: 1;

  -webkit-animation-name: out;
  -webkit-animation-duration: 3s;
  animation-name: out;
  animation-duration: 3s;
}

@keyframes out {
  0% {
    bottom: 44%;
    width: 22%;
  }

  100% {
    bottom: 14%;
    width: 30%;
  }
}

@-webkit-keyframes out {
  0% {
    bottom: 44%;
    width: 22%;
  }

  100% {
    bottom: 14%;
    width: 30%;
  }
}

.parrot {
  position: absolute;
  top: -50%;
  left: 40%;
  width: 60%;

  -webkit-animation-name: fly;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  animation-name: fly;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  z-index: -1;
}

@keyframes fly {
  0% {
    top: -200px;
  }

  100% {
    top: -50%;
  }
}

@-webkit-keyframes fly {
  0% {
    top: -200px;
  }

  100% {
    top: -50%;
  }
}

.treasure {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 60%;

  animation-name: appear;
  animation-duration: 2s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mtdTitle {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  background-color: #f2c078;
  border: 1px solid #222;
  width: 200px;
}

.btnText {
  font-size: 25px;
  padding: 10px;
}

.mappedDiv {
  display: flex;
  justify-content: center;
}

.mapped {
  margin-left: 0px;
  margin-right: 0px;
  width: 40%;
}

.checkIcon {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}

#check {
  fill: none;
  stroke: #5fad56;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;

  -webkit-animation-name: draw;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;

  animation-name: draw;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.findIndex {
  position: absolute;
  width: 50px;
  left: 0;
  right: 0;
  bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1px;
  z-index: 999;
  color: #5fad56;
  text-shadow: -1px -1px 0 #222, 2px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;

  -webkit-animation-name: expandNumber;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;

  animation-name: expandNumber;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes expandNumber {
  to {
    font-size: 100px;
  }
}

@keyframes expandNumber {
  to {
    font-size: 90px;
  }
}
