* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding: 20px;
  display: flex;
}

.left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #222;
}

.right {
  flex-basis: 60%;
}

.init {
  margin: 20px auto;
  position: relative;
  width: 60%;
  transition: all 1s;
}

.shipImg {
  display: block;
  width: 100%;
}

.pirate1 {
  position: absolute;
  bottom: 37%;
  left: 26%;
  width: 17%;
}

.pirate2 {
  position: absolute;
  bottom: 37%;
  left: 45%;
  width: 22%;
}

.pirate3 {
  position: absolute;
  bottom: 45%;
  left: 65%;
  width: 20%;
}

.waves {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.btn {
  margin: 10px;
  width: 100px;
}

.mappedDiv {
  display: flex;
}

.mapped {
  width: 50%;
}

.forEach {
}

.filtered {
}
